.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    &__question {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 1.3rem 1.3rem;
        border-radius: 30px;
        background: #3c3473;
        color: #E1E1E1;
    }
}

.quiz-btnContainer {
    display: flex;
    justify-content: space-evenly;

    &__btn {
        color: white;
        padding: 0.8rem 2rem;
        background: darkgray;
        border-radius: 20px;
        border: 1px;
        font-weight: 600;
        font-size: 1rem;

        &--primary {
            color: black;
            background-color: forestgreen;

        }

        &--incorrect{
            color: black;
            background-color:red
        }
    }
}