.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 7rem;

    &__question {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 1.3rem 1.3rem;
        border-radius: 30px;
        background: #3c3473;
        color: #E1E1E1;
    }

    &__text{
        margin-top: 1.5rem;
    }
}

.quiz-btnContainer {
    display: flex;
    justify-content: space-evenly;

    &__btn {
        color: white;
        padding: 0.8rem 2rem;
        background: darkgray;
        border-radius: 20px;
        border: 1px;
        font-weight: 600;
        font-size: 1rem;

        &--primary {
            color: black;
            background-color: forestgreen;

        }

        &--incorrect {
            color: black;
            background-color: red
        }
    }
}

.quiz-hero {
    background-image: linear-gradient(to right, #363062, #7d73bd);
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    height: 81vh;
    /* Full viewport height */
    flex-direction: column;
    color: #E1E1E1;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.quiz-start {
    margin-top: 1rem;

    &__input {
        font-weight: 550;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
    }

    &__btn {
        font-size: 1rem;
        margin-left: 1rem;
        padding: 0.4rem 0.8rem;
        border-radius: 20px;
        border: none;
        background: #fff;
        font-weight: 600;
        color: #363062;
        cursor: pointer;
    }
}

.quiz-questionsEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.3rem;
    font-weight: 600;
    color: green;
}