@use "../../styles/partials/global" as *;
@import "../../styles/partials/mixin.scss";
@import "../../styles/partials/variables.scss";

.App-header {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
}

.App-logo {

    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        margin-top: 0.5rem;
    }

    &__title {
        padding-left: 0 !important;
        font-weight: 600;
        padding-left: 1rem;
        color: #363062;
        margin: 0;
    }
}

.App-imageContainer {
    display: flex;
}

.App-header {

    &__link {
        text-decoration: none;

        &-btn {
            color: #fff;
            background-color: #363062;
            padding: .6rem 2.5rem;
            border-radius: 20px;
            border: 1px solid #fff;
            cursor: pointer;
            font-weight: 600;

            &--voting {
                margin-right: 1.5rem;
            }

            &:hover {
                background-color: #7d73bd;
            }
        }
    }
}