.footer {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    &__text {
        color: #5C667E;
        font-size: 0.75rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
}