@use "../../styles/partials/global" as *;
@import "../../styles/partials/mixin.scss";
@import "../../styles/partials/variables.scss";


.landing{

    background-image: linear-gradient(to right, #363062, #7d73bd);
    height: 81vh;
    color: #E1E1E1;
    padding: 5rem 3rem;

    &-title{
        padding-bottom: 1rem;
        &__appName{
            color: #363062;
        }

        &__text{
            max-width: 75ch;
            margin: auto;
            line-height: 1.5rem;
        }
    }

    &__text{
        padding-bottom: 1rem;
    }
}
