

.landing-title{
color: #323232;

    &__btn{
        color: white;
        background-color:rgb(13, 32, 32);
        padding: .6rem 1.5rem;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}

// background: #e2ddf0;